{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "linebreak-style": 0,
    "react/jsx-one-expression-per-line": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "google": true
  }
}
